<div class="menu-bar__container">
    <a [routerLink]="['']">
        <div class="menu-bar__logo">
            <img src="assets/ps-logo.png" alt="" width="140px" height="32px">
        </div>
    </a>
    <div class="menu-bar__item">
        <ul>
            <li><a target="_blank" href="https://www.linkedin.com/in/carlos-eduardo-de-almeida-43317b23a/">LINKEDIN</a></li>
            <li><a target="_blank" href="https://github.com/Carlos-EduardoAlmeida">GITHUB</a></li>
            <li><a target="_blank" href="https://www.instagram.com/pergamo_org/">INSTAGRAM</a></li>
        </ul>
    </div>
</div>